* {
  font-family: "Raleway" !important;
}
body {
  background-color: white !important;
}
:focus {
  outline: none !important;
}
.hero-text {
  font-family: "Eksell Display Large" !important;
}
.w-nft-user {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}
.nav-link:focus {
  outline: none;
}

@media (min-width: 320px) and (max-width: 992px) {
  .nav-link {
    margin-left: 24px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .n-userMobileDropDown {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .n-userDesktopDropDown {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .n-userMobileDropDown {
    margin-left: -1rem;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .n-userMobileDropDown {
    margin-left: 3rem;
  }
  .n-modalBody .W-card-Modal {
    width: 375px;
    flex-direction: column !important;
    border: none !important;
  }
  .n-sellModalTitle {
    display: none !important;
  }
  .n-sellModalTitleNew {
    display: flex !important;
  }
  .w-nft-form {
    width: 100%;
  }
  .inputStyling {
    width: 100%;
  }
  .w-Modal-myowned .modal-content {
    width: 96%;
  }
  .W-card-Modal .card-body {
    padding-left: 24px !important;
  }
  .w-modal-form {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  .w-modal-form input {
    min-width: 100%;
  }
  .w-modal-form div:nth-child(1) {
    width: 100%;
  }
  .W-card-Modal .card-img-top {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (min-width: 425px) and (max-width: 490px) {
  .n-userMobileDropDown {
    margin-left: 6rem;
  }
}

@media (min-width: 490px) and (max-width: 540px) {
  .n-userMobileDropDown {
    margin-left: 10rem;
  }
}

@media (min-width: 540px) and (max-width: 600px) {
  .n-userMobileDropDown {
    margin-left: 13rem;
  }
}

@media (min-width: 600px) and (max-width: 660px) {
  .n-userMobileDropDown {
    margin-left: 15rem;
  }
}

@media (min-width: 660px) and (max-width: 700px) {
  .n-userMobileDropDown {
    margin-left: 18rem;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .n-userMobileDropDown {
    margin-left: 22rem;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .n-userMobileDropDown {
    margin-left: 27rem;
  }
}

@media (min-width: 820px) and (max-width: 900px) {
  .n-userMobileDropDown {
    margin-left: 30rem;
  }
}

@media (min-width: 900px) and (max-width: 992px) {
  .n-userMobileDropDown {
    margin-left: 35rem;
  }
}

header.w-bd-bottom {
  border-bottom: 1px solid #e5e8eb;
}
.btn-market-drop {
  text-transform: capitalize !important;
  background-color: #ebebeb !important;
  color: #000 !important;
  font-family: "Raleway" !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  outline: none !important;
  border-color: none !important;
}
.btn-primary:hover {
  outline: none !important;
  border-color: none !important;
}

.btn-primary:focus {
  outline: none !important;
  border-color: none !important;
}
.btn-market-drop:active,
.btn-primary:active,
.btn-primary:active:focus {
  outline: none !important;
  border-color: none !important;
  box-shadow: #00000000;
}
.show > .btn-primary.dropdown-toggle {
  background-color: black !important;
  border-color: #000000 !important;
}
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%) !important;
}
.show > .btn-primary.dropdown-toggle:active {
  background-color: black !important;
  border-color: #000000 !important;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%) !important;
}

.n-activeButton {
  background-color: #000 !important;
  color: #fff !important;
}
.n-activeButton:hover {
  color: #fff !important;
}
.w-search-market input {
  padding: 0.375rem 1.75rem !important;
}

.n-clearButton {
  padding: 6px 20px !important;
  background-color: transparent;
  border: 1px solid black;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  /* font-size: 12px; */
  line-height: 14px;
  color: #000000;
  border-radius: 4px !important;
}

.n-clearButton:hover {
  background-color: #000;
  color: #fff;
}

.n-applyButton {
  padding: 6px 20px !important;
  background-color: black !important;
  border: 1px solid black !important;
  font-family: Raleway !important;
  font-style: normal !important;
  font-weight: normal !important;
  /* font-size: 12px; */
  line-height: 14px !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  margin-left: 16px !important;
}

.n-applyButton:hover {
  background-color: transparent !important;
  color: #000 !important;
}

/* ===============================Activity Profile Table style by Wahab========================== */
.w-noor-table {
  box-shadow: none !important;
}
.w-noor-table table thead tr th {
  padding: 30px 15px;
  font-size: 14px;
  color: #060606;
  font-family: "Raleway";
  font-weight: 600;
  border: none;
}
.w-noor-table table tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}
.w-noor-table table tbody tr td {
  padding: 5px 15px;
  font-size: 14px;
  color: #777e90;
  font-family: "Raleway";
  font-weight: 600;
  border: none;
}
.w-text-black {
  color: #000;
}
.w-btn-load-more {
  background: none;
  border: 1px solid #000;
  padding: 10px 34px;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  transition: 0.5s;
}
.w-btn-load-more:hover {
  background-color: #000;
  color: #e5e8eb;
}
.wmt-50 {
  margin-top: 50px;
}
.w-cd-title {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  font-family: "Raleway";
  margin-top: 10px;
}
.w-cd-text {
  font-size: 10px;
  font-weight: 400;
  color: #000;
  font-family: "Raleway";
}
.w-cd-price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  font-family: "Roboto";
  margin-top: 6px;
  margin-bottom: 6px;
}
.w-btn-sale {
  width: 100%;
  background-color: #232323;
  color: #ffffff !important;
  border: 1px solid #000;
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 700;
}
.w-nft-main-title {
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}
.w-nft-main-text {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  color: #000;
}
.nft-form-lable {
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 600;
  color: #000;
  margin-top: 25px;
  margin-bottom: 10px;
  display: block;
}
.w-nft-form .form-control {
  border: 1px solid #e5e8eb;
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
  padding: 9px 10px;
}
.w-nft-image {
  width: 100%;
  height: 50%;
}
.w-nft-form .form-control:hover {
  border-color: #000;
}
.w-nft-form .form-control:focus {
  box-shadow: none;
  border: 2px solid #000;
}
.w-nft-form .form-control::placeholder {
  color: rgba(0, 0, 0, 0.4) !important;
  font-family: "Raleway" !important;
  font-weight: 500 !important;
  opacity: 0.6;
}
.nft-file-upload-main {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 492px;
  height: 300px;
}
.w-nft-file-text {
  font-size: 16px;
  font-family: "Raleway";
  color: #000;
  margin-top: 10px;
}
.w-nft-file-text span {
  font-weight: 600;
}
.w-btn-nft {
  background-color: #000 !important;
  font-size: 18px !important;
  padding: 5px 30px !important;
  border: 2px solid #000 !important;
}
.w-btn-nft:hover {
  color: #000 !important;
  background: none !important;
}
.w-sale-hover {
  position: relative;
}
.w-sale-hover-inner {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}
.w-sale-hover:hover .w-sale-hover-inner {
  display: flex;
  color: #ffffff;
}

.MuiInputLabel-root {
  top: -5px !important;
}
.w-nft-dropdown .MuiInputLabel-root {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  opacity: 0.6;
}
.w-nft-dropdown fieldset {
  border-color: #e5e8eb;
}
.w-nft-dropdown .MuiSelect-select {
  padding: 5px 10px;
}
.w-nft-dropdown .MuiChip-root {
  border-radius: 5px;
}
.w-nft-dropdown label.Mui-focused {
  color: #000;
}
.w-new-collec {
  border-top: 2px solid #000 !important;
}
.w-nft-dropdown .MuiOutlinedInput-root {
  height: 41px;
}
.w-nft-dropdown .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000 !important;
}
.n-selectCategory {
  width: 402px;
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 4px;
}
.n-selectCategory options {
  padding: 5px 10px !important;
  background-color: transparent !important;
}
.MuiList-root {
  border: 2px solid #000;
}

.w-nft-home .fcdNWp {
  margin: 0 !important;
}
.w-nft-home .MuiPaper-root {
  /* box-shadow: none !important; */
  overflow: auto !important;
}
.w-nft-home .bVoXXg {
  padding: 10px 0;
}
.w-footer-title {
  font-size: 30px;
}
.w-footer-text {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.wmt-67 {
  margin-top: 67px;
}
.w-nft-link-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.w-nft-footlink li a {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
.w-nft-sign-form .MuiOutlinedInput-root fieldset {
  top: 0;
}
.w-nft-sign-form .MuiOutlinedInput-root fieldset legend,
.w-nft-sign-form .MuiInputLabel-root {
  display: none;
}
.w-nft-sign-form .Mui-focused fieldset {
  border-color: #000 !important;
}
.w-nft-sign-form
  .MuiFormControl-root
  .MuiOutlinedInput-root
  input::placeholder {
  color: #032d23 !important;
  font-size: 18px;
  font-weight: 500;
}
.w-nft-sign-form .inputStyling svg {
  width: 23px;
  color: #abb3bb;
}

.w-nft-sign-form .inputStyling {
  width: 300px;
}

.n-priceInput:focus {
  border-color: #000 !important;
}

.w-check-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.w-onSale-modal .modal-title {
  font-size: 20px;
}
.w-onSale-modal .modal-header {
  padding: 0 15px;
}
.w-onSale-modal .close {
  font-size: 45px !important;
  line-height: 45px;
}
.w-check-box input {
  width: 15px;
  height: 15px;
}
.w-onSale-modal .custom-control-input:checked {
  background-color: #000 !important;
}

.w-check-box label {
  font-size: 16px;
  margin-left: 10px;
  color: #000;
}
.w-check-box label span {
  font-weight: 600;
  margin-left: 5px;
}
.n-sellModalTitle {
  margin-bottom: 0;
}
.n-sellDescription {
  height: auto;
  margin-top: 20px;
}
.w-Modal-myowned .modal-dialog {
  max-width: 840px;
  width: 100%;
}
.w-Modal-myowned .modal-content {
  padding: 0px !important;
  border-radius: 10px;
}
.n-card-Modal .card-body {
  padding: 0;
  padding-left: 0px;
}
.n-Modal-myowned .modal-content {
  flex-direction: column;
}
.n-modalBody .W-card-Modal {
  width: 100%;
  flex-direction: row;
  border: none !important;
  padding: 24px;
}
.W-card-Modal .card-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.W-card-Modal .card-text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.W-card-Modal .card-body {
  padding-left: 15px;
}
.W-card-Modal .w-link {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.W-card-Modal .card-img-top {
  width: 300px;
  height: 300px;
  min-width: auto !important;
  border-radius: 10px;
  border: none;
  background-color: #ececec;
  /* margin: 20px; */
}
.w-modal-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.n-sellModalTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.w-sellModalTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  padding: 20px;
  border-bottom: 1px solid #acaeaf;
}
.n-updateModalBody {
  padding: 20px;
}
.n-sellModalTitleNew {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 20px;
  /* visibility: hidden; */
}
.w-modal-form input {
  padding: 12px !important;
  min-width: 290px;
}
.n-modal-form input {
  padding: 12px !important;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}
.wmb-15 {
  margin-bottom: 15px !important;
}

.wmb-15::placeholder {
  color: #032d23;
}

@media screen and (max-width: 991px) {
  .btn-market-drop {
    width: 100%;
  }
  .w-noor-table table tbody tr td,
  .w-noor-table table thead tr th {
    font-size: 13px;
  }
}

/* Ahmed */
.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

.toppings-list,
.total {
  width: 30%;
  margin: 0 auto;
}

.toppings-list {
  list-style: none;
  padding: 0;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}

.toppings-list-item {
  display: flex;
  justify-content: space-between;
}

.toppings-list li:last-child {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.toppings-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.total {
  margin-top: 1rem;
}
