@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.artworkDetailCol2Header {
  width: 535px;
  /* max-height: 175px; */
  background-color: transparent;
  border-radius: 4px;
  box-shadow: drop-shadow(2px 4px 6px #d3d3d3);
  margin-left: -1%;
  color: #000;
  /* padding: 20px; */
  display: flex !important;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* grid-gap: 5px;
  gap: 5px; */
}
/* .modal-image {
  max-height: 150px !important;
} */

.artworkDetailCol2Header h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
}

.artworkDetailCol2tokenDetail {
  /* padding: 20px; */
  width: 528px;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-flow: column;
  grid-gap: 10px;
  gap: 10px;
}
.insideTokenDetail {
  width: 100%;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-flow: column;
  border: 1px solid lightgray;
}

.myButtondetailPage {
  width: max-content;
}

.Owner-Wallet_address {
  word-wrap: break-word;
}

.placeBidButton {
  border: 2px solid black;
}
.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: black;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}
.adaPrice {
  font-family: Roboto !important;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 34px;
  float: left;
}
.adaPrice1 {
  font-family: Roboto !important;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: normal;
}
.cardsincard {
  background-color: #f3f3f3;
  padding: 10px;
  border-color: #f3f3f3;
}
.detailpageheading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.detailpanelicons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}

.n-favouViews {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.n-lable {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.n-value {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
  color: #000000;
  margin-top: 3px;
}

.n-Bio {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 3px;
}

.n-descriptionDropDown {
  box-shadow: none;
  border-radius: 5px;
  width: 545px;
}

.n-nftDetails {
  margin-top: 38px;
  width: 535px;
}

.n-nftDetails p {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.n-nftDetails p a {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.n-nftDetails p a:hover {
  cursor: pointer;
  color: #000;
}

.n-uploadNFT {
  background-image: url(../../images/NFT-Upload.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eaeaea;
  border-radius: 5px;
}

.n-uploadNFTImage {
  padding: 0px 15px;
}

.n-uploadNFTImageResponsive {
  display: none;
}

.n-artWorkDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 0px 340px; */
}

.n-imageNFTDetails {
  margin-right: 25px;
}
.n-nftDetailsDescription {
  margin-left: 25px;
}

/* .ff div {
  height: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .ff div img {
  padding: 0.5rem;
  object-fit: cover;
} */
.ff {
  display: grid;
  place-content: center;
  padding: 1rem;
  height: 100%;
  box-shadow: 1px 1px 5px lightgrey;
}
.n-mainDiv {
  height: 25rem;
  width: 34rem;
}
.modal-image {
  height: 25rem !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  object-fit: cover;
}

@media (min-width: 320px) and (max-width: 480px) {
  .ff {
    display: grid;
    place-content: center;
    padding: 1rem;
    height: 100%;
    box-shadow: 1px 1px 5px lightgrey;
  }
  .n-mainDiv {
    height: 100%;
    width: 100%;
  }
  .n-uploadNFTImage {
    padding: 0px;
  }
  .n-uploadNFTImage {
    display: none !important;
  }
  .n-uploadNFTImageResponsive {
    display: block;
  }
  .artworkDetailCol2Header {
    flex-direction: column;
    padding-left: 0px;
  }
  .artworkDetailCol2tokenDetail {
    max-width: 375px;
  }
  .n-artWorkDetails {
    padding: 0px 25px;
    flex-direction: column;
  }
  .n-imageNFTDetails {
    display: flex;
    flex-direction: column;
  }
  .n-nftDetails {
    max-width: 375px;
  }
  .detailpageheading {
    font-size: 41px;
  }
  .n-descriptionDropDown {
    width: 375px;
  }
  .detailpanelicons {
    margin-top: 10px;
    width: 375px;
  }
  .detailpanelicons div:nth-child(2) {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .detailpanelicons div:nth-child(2) button:nth-child(1) svg {
    margin-left: 0px !important;
  }
  .n-imageNFTDetails {
    margin-right: 0px;
  }
  .n-nftDetailsDescription {
    margin-left: 0px;
    /* margin-right: 0px !important; */
  }
}
