.Dropdown-control {
  border-bottom: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}
.Dropdown-arrow {
  border-width: 8px 8px 0;
  border-color: black transparent transparent;
}
.Dropdown-option {
  color: black;
}
.is-open .Dropdown-arrow {
  border-width: 0 8px 8px;
  border-color: transparent transparent black;
}
.Dropdown-menu {
  z-index: 10px;
}
.border-2 {
  border-width: 1px;
}
.Dropdown-control {
  width: 200px;
}
.make-offer-btn:hover {
  background-color: black !important;
  color: white !important;
}
.make-offer-btn {
  background-color: white !important;
  color: black !important;
  font-size: 13px !important;
  font-weight: bold !important;
  padding: 25px !important;
  width: 240px !important;
  border-color: black !important;
  border-radius: 6px !important;
}
.add-artist-btn {
  background-color: white !important;
  color: black !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 15px !important;
  width: 240px !important;
  border-color: black !important;
  border-radius: 6px !important;
}
.add-artist-btn:hover {
  background-color: black !important;
  color: white !important;
}
.fa-user:before {
  content: none;
}
.css-1x0waax-MuiModal-root-MuiPopover-root-MuiMenu-root
  .MuiPaper-root
  .MuiMenu-list {
  max-height: 270px;
}
.MuiList-root {
  border: none;
}
