.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  margin-left: 0px;
}
.w-headbg-white {
  background-color: rgba(255, 255, 255, 1);
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown {
  border-color: none !important;
}
.dropdown-menu {
  right: 0;
}
#nav-avatar {
  margin-right: 5px;
  /* margin-left: 5px; */
}
#dropdown-basic-button {
  border: 0px;
  background-color: inherit;
  color: black;
  box-shadow: none;
}
#dropdown-basic {
  border: 0px;
  background-color: inherit;
  box-shadow: none;
}
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.path-preloader {
  stroke: cyan;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  fill: none;
  animation: load 4s linear infinite, color 3s linear infinite;
}

@keyframes load {
  from {
    stroke-dashoffset: 800;
  }
}

@keyframes color {
  33% {
    stroke: yellow;
  }

  66% {
    stroke: magenta;
  }
}
@media screen and (max-width: 991px) {
  .dropdown-menu {
    margin-left: 30px !important;
    border: none !important;
  }
}
