.transparent {
  background: white;
  background: rgba(0, 0, 0, 0.5);
}
.fontFamily {
  text-align: "center";
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
}

.btn-sm {
  background-color: #000000 !important;
  border-color: #ffffff !important;
  border-radius: 5px;
}
.btn-sm:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #000000 !important;
}

.btn-sm-rev {
  background-color: #ffffff !important;
  border-color: #000000 !important;
  border-radius: 5px;
}
.btn-sm-rev:hover {
  background-color: #000000 !important;
  border-color: #ffffff !important;
  border-radius: 5px;
}
.btn-big {
  width: 250px;
  height: 60px;
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000;
  border-radius: 5px;
}
.btn-big:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #000000;
}
featured:hover {
  font-weight: 700 !important;
  color: #000000 !important;
}

/* .pimage {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
} */

/* .cameramiddle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pro-img:hover .pimage {
  opacity: 0.5;
}

.pro-img:hover .cameramiddle {
  opacity: 1;
} */

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media (min-width: 325px) and (max-width: 425px) {
  .n-mainImage {
    width: auto !important;
  }
}
