body {
  background-color: #000000;
}

.card-img-top {
  min-width: 120rem;
  height: 143px;
}

/* .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
} */

.pro-img {
  margin-top: -90px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  border: 3px solid #ffffff;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
}

html body .m-b-0 {
  margin-bottom: 0px;
}

html body .m-t-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center !important;
}
.cardmediastyling {
  border-radius: 10px !important;
}
.w-noor-tabs .MuiTab-root {
  border-bottom: 2px solid #dbd8d8;
  color: #000000;
  opacity: 1;
  padding: 15px 23px;
  font-size: 16px;
}
.w-noor-tabs .MuiTabs-indicator {
  display: none;
}
.w-noor-tabs .Mui-selected {
  background-color: #f3f3f3;
}
.w-folow {
  margin: 0 40px;
}
.w-folow p {
  font-size: 26px;
  color: #000000;
  font-weight: 500;
  margin-right: 10px;
}
.w-folow span {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}
.w-username {
  font-weight: 700;
  color: #000000;
}
.f-20 {
  font-size: 20px;
}
.f-36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .w-noor-tabs .MuiTab-root {
    max-width: 100%;
  }
  .w-noor-tabs .MuiTabs-flexContainer {
    flex-direction: column;
  }
  .w-folow {
    margin: 0 10px;
  }
}
.btn-btn-big {
  width: 180px;
  height: 35px;
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000;
  border-radius: 5px;
}
.btn-btn-big:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #000000;
}
.cameramiddle2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 23%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.pimage2 {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.pro-img:hover .pimage2 {
  opacity: 0.5;
}

.pro-img:hover .cameramiddle2 {
  opacity: 1;
}
.pimage3 {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 311px !important;
  height: 311px !important;
}
.pro-img:hover .pimage3 {
  opacity: 0.5;
}
.pro-img:hover .cameramiddle2 {
  opacity: 1;
}
