.modalTop {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 70px;
}
.inputStyling {
  border: 2px solid #e5e8eb;
  box-sizing: border-box;
  border-radius: 6px;
}
.footermodal {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  /* identical to box height, or 189% */

  letter-spacing: -0.33px;

  color: #032d23;
}
.MuiCheckbox-colorPrimary.Mui-checked {
  color: black !important;
}

.css-jsexje-MuiSwitch-thumb {
  background-color: black !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #666666 !important;
}
.w-nft-sign-form .inputStyling {
  width: 100% !important;
}
.css-1z7n62 {
  display: none !important;
}
