@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@tailwind base;
@tailwind components;

// // Additional styles
// @import "./css/additional-styles/utility-patterns.scss";
// @import "./css/additional-styles/range-slider.scss";
// @import "./additional-styles/toggle-switch.scss";
// @import "./additional-styles/theme.scss";
// // @import url("./additional-styles/utility-patterns.scss");

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive

@responsive {
  .rtl {
    direction: rtl;
  }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
  display: none;
}

// AOS styles
$aos-distance: 10px;
@import "node_modules/aos/src/sass/aos.scss";
